

.depoimentos{
    background-color: var(--cor_icone);
}

.depoimentos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.depoimentos-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.depoimentos-grid p{
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-style: italic;
    color: #332200;
    font-size: 2rem;
    margin-bottom: 32px;
    max-width: 32ch;
    
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: end;
    position: relative;
}

.depoimento-conteudo::before, .depoimento-conteudo p::after{
    position: absolute;
    font-size: 5rem;
    color: #E4A30B;
}

.depoimento-conteudo::before{    
    content: "“";
    left: 50px;
    top: 20px;}

.depoimento-conteudo p::after{
    content: "”";
}

.depoimento-conteudo span{
    font-family: 'roboto';
    font-weight: 500;
    color: #664400;
    font-size: 20px;
}