
.escolha{
    padding-top: 60px;
}

.escolha ul{
    display: flex;
    gap: 40px;
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.escolha h2{
    color: #111111;
    font-size: 64px;
    font-family: 'poppins';
    padding: 0 20px;
}

.escolha h2 > span{
    color: var(--cor_icone);
}

.escolha h3{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    font-family: 'roboto';
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
}

.escolha ul h3::before{
    content: "";
    width: 12px;
    height: 8px;
    background-color: var(--cor_icone);
    display: inline-block;
    transition: 0.2s;
}

.escolha ul a:hover h3::before{
    width: 20px;
}

.escolha ul span{
    color: #595959;
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}
