.introducao-fundo{
    background-color: #000000;
    box-shadow: inset 0px -120px 0px #ffffff;
}

.introducao{
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    padding: 0px 20px;
}

.introducao-info{
    align-self: end;
    padding-bottom: 200px;
    padding-top: 140px;
}

.introducao-info h1{
    margin-bottom: 32px;
}

.introducao-info p{
    margin-bottom: 20px;
}

.introducao-info h1 > span{
    color: var(--cor_icone);
}


.introducao img{
    height: 100%;
    object-fit: cover;
}
.escolha{
    padding-top: 60px;
}

.escolha ul{
    display: flex;
    gap: 40px;
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.escolha h2{
    color: #111111;
    font-size: 64px;
    font-family: 'poppins';
    padding: 0 20px;
}

.escolha h2 > span{
    color: var(--cor_icone);
}

.escolha h3{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
    font-family: 'roboto';
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
}

.escolha ul h3::before{
    content: "";
    width: 12px;
    height: 8px;
    background-color: var(--cor_icone);
    display: inline-block;
    transition: 0.2s;
}

.escolha ul a:hover h3::before{
    width: 20px;
}

.escolha ul span{
    color: #595959;
    font-family: 'roboto';
    font-size: 16px;
    font-weight: 500;
    padding-left: 20px;
}

.tecnologias-fundo{
    background-color: #111111;
    box-shadow: inset 0px 100px 0px #ffffff;
    margin-top: 120px;
}

.tecnologias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0px 20px;
}

.tecnologias-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
}

.tecnologias-info h2 > span{
    color: var(--cor_icone);
}

.tecnologias-info a{
    color: var(--cor_icone);
    border-bottom: 3px solid var(--cor_icone);
    align-self: flex-start;  
}

.tecnologias-info a:hover{
    color: #B2B2B2;
    border-bottom: 3px solid #e7e7e7;
}

.tecnologias-flex{
    display: flex;
    gap: 12px;
    padding-top: 40px;
}

.tecnologias-flex-conteudo{
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 30ch;
}

.tecnologias-flex img{
    width: 28px;
}

.tecnologias-flex h3{
    font-family: 'roboto';
    color: #ffffff;
    font-weight: 100;
}

.tecnologias-flex p{
    font-size: 16px;
    line-height: 1.5;
    color:  #B2B2B2;
    font-weight: 400;
}