.parceiros-grid{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    padding: 0 20px;
}

.parceiros li{
    padding: 32px;
    display: flex;
    border-left: 2px solid var(--cor_mais_clara);
}

.parceiros li:first-child, .parceiros li:nth-child(5){
    border-left: none;
}

.parceiros li:nth-child(n + 5){
    border-top: 2px solid var(--cor_mais_clara);
}

.parceiros-grid img{
    width: 160px;
    max-width: 100%;
    height: 40px;
    margin: 0 auto;
}

.parceiros h2{
color: #111111;
font-size: 64px;
font-family: 'poppins';
padding: 48px 20px;
margin-bottom: 60px;
}

.parceiros span{
    color: var(--cor_icone);
}