@import url(./utilitarios.css);
@import url(./header.css);
@import url(./main.css);
@import url(./escolha.css);
@import url(./tecnologias.css);
@import url(./parceiros.css);
@import url(./depoimentos.css);
@import url(./seguros.css);

html{
    padding-bottom: 100px;
}
body, h1,h2,h3,h4,p,blockquote{
    margin: 0px;

    font-family: 'Roboto';
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    font-family: 'roboto';
}

img{
    width: 100%;
    display: block;
    border-radius: 4px;
}

