:root{
    --cor_icone:#FFBB00;
    --cor_mais_clara:#EDEDED;
    
}


.botao{
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    border-radius: 4px;
    color: #332200;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'poppins';
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.1);
}

.botao:hover{
    background:linear-gradient(#c59401, #b37a08);
    color: #000000;
}

.botao.secundario{
    background: linear-gradient(#2E2E2E, #272727);
    color: #ffffff;
}

.botao.secundario:hover{
    background: linear-gradient(#494949, #494949);
}

.container{
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}

.titulo-g{
    font-size: 4.1rem;
    line-height: 1.125;
    font-family: 'roboto';
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 2px;
}

.texto-bg-preto{
    font-size: 24px;
    line-height: 1.5;
    color: #B2B2B2;
}

@media(max-width:1200px){
    .titulo-g{
        font-size: 3rem;
    }

    .texto-bg-preto{
        font-size: 1.15rem;
    }
}

@media(max-width:800px){
    .titulo-g{
        font-size: 2rem;
    }
}