footer{
    background-color: black;
    color: #ffffff;
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding: 60px;
}

footer a{
    color: #b2b2b2;
    display: inline-block;
    font-size: 17px;
}

footer a:hover{
    color: #ffffff;
}

footer h3{
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 1.5rem;
}

footer ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer li{
    margin-bottom: 16px;
}

.contatos li:nth-child(even)::after{
    content: "";
    display: block;
    max-width: 320px;
    height: 2px;
    background-color: #111111;
    margin-top: 16px;
}

.footer-icones{
    max-width: 32px;
    display: flex;
    gap: 20px;
    margin-top: 16px;
}

.footer-copy{
    grid-column: 1 / -1;
    color: #b2b2b2;
}

@media(max-width:800px){
    footer{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .logo-footer{
        display: none;
    }
}

@media(max-width:400px){
    footer{
        grid-template-columns: 1fr;
    }
    .footer-icones{
        padding-bottom: 40px;
    }
}
