.introducao-fundo{
    background-color: #000000;
    box-shadow: inset 0px -120px 0px #ffffff;
}

.introducao{
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    padding: 0px 20px;
}

.introducao-info{
    align-self: end;
    padding-bottom: 200px;

}

.introducao-info h1{
    margin-bottom: 32px;
    line-height: 1.125;
}

.introducao-info p{
    margin-bottom: 20px;
}

.introducao-info h1 > span{
    color: var(--cor_icone);
}


.introducao img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width:800px){
    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao-info{
        padding-bottom: 30px;
    }

    .introducao img{
        height: 300px;
    }

    .introducao-fundo{
        box-shadow:inset 0px -60px 0px #ffffff;
        padding-top: 20px;
    }
}