#seguros .seguros{
    padding: 0px 40px;
}

#seguros .seguros-mensal{
    margin-bottom: 60px;
}

.vantagens{
    background-color: #000000;
    padding: 120px 40px;

}

.vantagens h2{
    margin-bottom: 60px;
}

.vantagens h2 > span{
    color: var(--cor_icone);
}

.vantagens ul{
    display: grid;
    gap: 8px;
}

.vantagens-conteudo{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    gap: 40px 60px;
    
}

.vantagens-conteudo img{
    width: 32px;
}

.vantagens-conteudo h3{
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5rem;
}

.vantagens-conteudo p{
    color: #b7b7b7;

}