.local{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    padding-bottom: 120px;
    padding-top: 120px;
}

.local h2{
    grid-column: 1 /-1;
    color: #000000;
    padding-bottom: 60px;
    font-weight: bold;
}

.local h3{
    font-size: 28px;
    letter-spacing: 0.125rem;
}

.local-conteudo p , a{
    color: #555555;
    padding: 5px 10px;
    margin-bottom: 5px;
}

.local span{
    color: var(--cor_icone);
}

.local-img img{
    width: 100%;
}

.local-img{
    grid-column: 1 / -1;
}

.local-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;
    padding: 24px 32px;
    box-shadow: 0px 1px 2px #cccccc;
}

.local-conteudo h3{
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

.local-conteudo address{
    display: grid;
    font-style: normal;
}

.loja-tempo{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 32px;
}


@media(max-width:900px){
    .local{
        grid-template-columns: 1fr;
    }
}

